In [57]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)
data

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [4]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [5]:
data = pd.Series(list(range(10, 1001))) 

print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [8]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [14]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [21]:
faf = pd.read_csv('data_sf.csv', squeeze)
display(faf)

NameError: name 'squeeze' is not defined

In [58]:
football = pd.read_csv('data_sf.csv')
display(football.head(10))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,...,75,82,87,92,91,11,8,9,7,11
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89

In [2]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [42]:
display(football.describe(include=['object']))

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [49]:
display(football.info(null_counts=[False]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [54]:
display(football.Value.min())

0

In [ ]:
Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего?
Ответ округлите до сотых.

In [59]:
fotball=football[(football.Wage < football.Wage.mean())].SprintSpeed.mean()

In [63]:
Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [70]:
fotball = football[(football.Wage == football.Wage.max())].Position

In [ ]:
Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период

In [73]:
fotball = football[(football.Nationality == 'Brazil')].Penalties.sum()

In [ ]:
Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50.
Ответ округлите до сотых.

In [75]:
fotball = football[(football.HeadingAccuracy > 50)].Age.mean()

In [ ]:
Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions)
превышают 90% от максимального значения,
представленного в датасете.

In [84]:
fotball = football[(football.Composure > (int(football.Composure.max())* 0.9)) & 
                   (football.Reactions > (int(football.Reactions.max())* 0.9))].Age.min()

In [ ]:
Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) 
равен максимальному) больше средней реакции самых молодых игроков.
Ответ округлите до сотых.

In [90]:
fotball = float(football[(football.Age == football.Age.max())].Reactions.mean()) - float(football[(football.Age == football.Age.min())].Reactions.mean())

In [ ]:
Из какой страны (Nationality) происходит больше всего игроков, чья стоимость 
(Value) превышает среднее значение?

In [5]:
fotball = football[(football.Value > football.Value.mean())].Nationality.describe()

In [ ]:
Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) 
с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с
максимальным значением показателя "Владение мячом" (GKHandling).
Ответ округлите до сотых.

In [7]:
fb = (football[(football.GKReflexes == football.GKReflexes.max())].Wage.mean() / 
      football[(football.GKHandling == football.GKHandling.max())].Wage.mean())

In [8]:
fb

2.765957446808511

In [ ]:
Определите, во сколько раз средняя сила удара (ShotPower) 
самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) 
выше средней силы удара игроков с минимальной агрессией. 
Ответ округлите до сотых.

In [9]:
fb = (football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / 
      football[(football.Aggression == football.Aggression.min())].ShotPower.mean())

In [10]:
fb

2.076923076923077

In [22]:
s = football['Position'].value_counts(normalize = True)
a = len(s.index)
print(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [28]:
small_df = football[football.columns[0:7]].head(25)

s = football['FKAccuracy'].value_counts(bins=5)

display(s)

display(s.index)

display(s.index[3])

display(s.index[3].left)

display(s.index[3].right)

#small_df['Wage'] > s.index[3].left

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

IntervalIndex([(21.2, 39.4], (39.4, 57.6], (57.6, 75.8], (2.908, 21.2], (75.8, 94.0]],
              closed='right',
              dtype='interval[float64]')

Interval(2.908, 21.2, closed='right')

2.908

21.2

In [ ]:
У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage)
находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? 
Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [35]:
spwag = football[football.Nationality == 'Spain']
spwag = spwag['Wage'].value_counts(bins = 4, normalize = True)
display(spwag)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [ ]:
Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, 
выступающие за клуб (Club) "Manchester United".

In [36]:
clubs = football[football.Club == "Manchester United"]
clubs = clubs['Nationality'].nunique()
display(clubs)

13

In [ ]:
С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), 
выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) 
через запятую в алфавитном порядке.

In [45]:
clubs =football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')]
print(clubs)
s = clubs['Name'].unique()
display(s)

    Unnamed: 0           Name  Age Nationality      Club     Value    Wage  \
64          64    Alex Sandro   27      Brazil  Juventus  36500000  160000
65          65  Douglas Costa   27      Brazil  Juventus  46500000  175000

   Position  Crossing  Finishing  ...  Penalties  Composure  Marking  \
64       LB        84         55  ...         60         82       81
65       LM        84         67  ...         77         84       45

    StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  \
64              84             84         7           7          9
65              38             34        13          15          9

    GKPositioning  GKReflexes
64             12           5
65             12           5

[2 rows x 42 columns]

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [ ]:
Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет

In [49]:
clubs =football[(football.Age > 35)]
clubs['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Hammarby IF                   3
Morecambe                     3
Club Atlético Colón           3
                             ..
Monarcas Morelia              1
Walsall                       1
FC Erzgebirge Aue             1
Lillestrøm SK                 1
Al Nassr                      1
Name: Club, Length: 212, dtype: int64

In [ ]:
С помощью функции value_counts с параметром bins разбейте всех футболистов родом 
из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту.
Сколько футболистов в возрасте от 34,75 до 41 года в сборной Аргентины?

In [51]:
fb = football[football.Nationality == 'Argentina']
fb = fb['Age'].value_counts(bins = 4)
display(fb)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [ ]:
Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год?
Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [55]:
fb =  football[football.Nationality == 'Spain']
fb = fb['Age'].value_counts(normalize = True)
display(fb)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [ ]:
Отметьте позиции (Position), по которым общая сумма зарплат
(Wage) игроков превышает 5 млн евро в год.

In [59]:
df = pd.read_csv('data_sf.csv')
gr_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending= False)

In [60]:
print(gr_df.head(10))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
Name: Wage, dtype: int64

In [ ]:
Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position).
Представители какой позиции имеют самую высокую среднюю ценность?

In [64]:
gr_df = df.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'],ascending= False)
print(gr_df.head(10))

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

<ipython-input-64-8ef8d1985eec>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gr_df = df.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'],ascending= False)

In [ ]:
Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). 
В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции,
необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [70]:
gr_df = df.groupby(['Club'])['Wage'].agg(['mean','median'])
gr_df = gr_df.loc[gr_df['mean'] == gr_df['median']]
print(gr_df.count())
#print(gr_df.sort_values(['mean'], ascending = False))

mean      52
median    52
dtype: int64

In [ ]:
С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [72]:
gr_df = df.groupby(['Club'])['Wage'].sum()
print(gr_df['Chelsea'])

2035000

In [ ]:
Определите максимальную зарплату футболиста 
национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [84]:
#gr_df = df.groupby(['Nationality'])['Age', 'Wage']

gr = df.loc[(df.Nationality == "Argentina") & (df.Age == 30)].sort_values('Wage', ascending = True)
print(gr)

      Unnamed: 0             Name  Age Nationality  \
6893        7072         L. Trejo   30   Argentina
3366        3501          J. Miño   30   Argentina
4496        4647  F. Ciampichetti   30   Argentina
2258        2370       R. Becerra   30   Argentina
5534        5697         J. Ayala   30   Argentina
4103        4250         G. Milan   30   Argentina
5927        6094          S. Luna   30   Argentina
4116        4264       M. Sánchez   30   Argentina
3227        3360       J. Amoroso   30   Argentina
2660        2781           A. Niz   30   Argentina
2609        2727          G. Díaz   30   Argentina
1879        1970        M. Cahais   30   Argentina
2113        2216        F. Mattia   30   Argentina
1501        1557      C. Menéndez   30   Argentina
1337        1376        J. Forlín   30   Argentina
1468        1521          G. Sara   30   Argentina
833          844      D. González   30   Argentina
218          218        N. Gaitán   30   Argentina
522          526        L. Pratto   30   Argentina
133          133        E. Banega   30   Argentina
1286        1321         C. Yacob   30   Argentina
140          140         A. Gómez   30   Argentina
89            89      N. Otamendi   30   Argentina
38            38       G. Higuaín   30   Argentina
23            23        S. Agüero   30   Argentina

                             Club     Value    Wage Position  Crossing  \
6893               Atlético Huila    270000    1000       CB        28
3366             Deportes Iquique    575000    1000      LDM        55
4496               CD Antofagasta    625000    2000       ST        35
2258             Deportes Iquique    875000    2000       ST        44
5534              Rosario Central    350000    3000       GK        11
4103  Tiburones Rojos de Veracruz    475000    3000       CB        26
5927          Belgrano de Córdoba    325000    3000       RB        75
4116       San Martín de San Juan    475000    4000      CDM        49
3227            Newell's Old Boys    725000    6000       RM        55
2660          Club Atlético Tigre    675000    6000       CB        58
2609              Vélez Sarsfield    650000    6000       RB        72
1879        San Martin de Tucumán    775000    6000       CB        48
2113       San Martín de San Juan    775000    7000      RCB        30
1501  Tiburones Rojos de Veracruz   3000000    8000       ST        50
1337                  Real Oviedo   3000000    9000       CB        59
1468          Club Atlético Lanús   2000000   10000       GK        14
833                  Club Tijuana   7000000   22000      LCM        68
218              Dalian YiFang FC  21000000   22000      CAM        80
522                   River Plate  10000000   28000       LS        68
133                    Sevilla FC  29000000   31000      CDM        80
1286            Nottingham Forest   3000000   35000      CDM        34
140                      Atalanta  30000000   53000       LS        82
89                Manchester City  28500000  170000       CB        52
38                          Milan  57000000  245000       LS        68
23                Manchester City  64500000  300000       ST        70

      Finishing  ...  Penalties  Composure  Marking  StandingTackle  \
6893         21  ...         31         48       64              65
3366         47  ...         54         65       70              72
4496         71  ...         71         54       42              26
2258         74  ...         66         54       21              30
5534         11  ...         19         44       15               7
4103         23  ...         40         55       60              66
5927         56  ...         53         47       62              55
4116         47  ...         50         65       62              63
3227         60  ...         44         65       33              30
2660         39  ...         41         62       62              71
2609         44  ...         50         56       64              62
1879         34  ...         55         64       61              72
2113         24  ...         38         49       73              72
1501         72  ...         72         74       32              21
1337         36  ...         51         66       72              71
1468         15  ...         30         36       15              12
833          64  ...         57         76       65              71
218          71  ...         71         80       35              42
522          76  ...         78         71       48              36
133          66  ...         78         80       75              69
1286         55  ...         66         79       73              75
140          76  ...         72         84       50              30
89           54  ...         45         80       83              85
38           92  ...         70         86       35              22
23           93  ...         83         90       30              20

      SlidingTackle  GKDiving  GKHandling  GKKicking  GKPositioning  \
6893             67        13           9         11              8
3366             67        15          16          9             14
4496             22         6          10          8              9
2258             22        15          11         15             11
5534              8        67          66         65             58
4103             62        15          12         15             14
5927             56        15          15         13             11
4116             64        10          10          6             16
3227             35        13           8         16             11
2660             68         7          11         14             14
2609             59         7           8          8              7
1879             70         9          12         12              6
2113             70        14           8          9             12
1501             30        14          12          9             13
1337             76        10           6          7             13
1468             16        72          70         73             69
833              69        16          13          7             12
218              43         8          11          9              7
522              50         8          15          6             15
133              64        13           8          7              7
1286             71         6           6         12              9
140              34         8          11         12              9
89               84        12           5          8             11
38               18         5          12          7              5
23               12        13          15          6             11

      GKReflexes
6893           8
3366          10
4496           7
2258           7
5534          68
4103           7
5927           8
4116          16
3227          14
2660          13
2609           8
1879          16
2113          14
1501           7
1337           8
1468          74
833           14
218            5
522           15
133           10
1286           8
140            6
89            12
38            10
23            14

[25 rows x 42 columns]

In [ ]:
Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" 
из Аргентины ("Argentina").
Ответ введите через точку с запятой без пробела.

In [89]:
gr_df = df.loc[(df.Club == "FC Barcelona") &( df.Nationality == "Argentina")].sort_values('Balance', ascending = True)
print(gr_df.Balance.max())

95

In [ ]:
Создайте сводную таблицу, содержащую сведения о количестве игроков, 
занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [118]:
pivot = df.pivot_table( values = ['Name'],
                      index = ['Club'],
                      columns= ['Position'],
                      aggfunc = 'count',
                      margins = True,
                      fill_value = 0)
display(pivot)
g = pivot.loc['All']['Name']['GK']
print(g/ len(pivot))
print(1641 / 651)

                      Name                                                 \
Position               CAM    CB  CDM  CF    CM    GK LAM    LB  LCB  LCM
Club
 SSV Jahn Regensburg     0     5    1   0     2     3   0     2    0    0
1. FC Heidenheim 1846    1     3    0   0     1     2   0     2    1    0
1. FC Kaiserslautern     0     3    3   0     0     3   0     2    1    0
1. FC Köln               0     1    1   0     2     3   0     0    0    0
1. FC Magdeburg          0     4    0   1     0     3   0     1    1    1
...                    ...   ...  ...  ..   ...   ...  ..   ...  ...  ...
Çaykur Rizespor          1     2    5   0     0     3   0     2    1    0
Örebro SK                0     4    0   0     1     3   0     0    1    1
Östersunds FK            1     1    0   1     3     3   0     2    1    1
Śląsk Wrocław            0     1    3   0     1     3   0     2    1    0
All                    633  1403  691  51  1067  1641   6  1002  409  233

                       ...
Position               ...  RCB  RCM  RDM RF   RM   RS   RW RWB    ST    All
Club                   ...
 SSV Jahn Regensburg   ...    1    0    1  0    0    0    0   0     3     24
1. FC Heidenheim 1846  ...    1    0    0  0    3    0    0   0     2     20
1. FC Kaiserslautern   ...    0    0    1  0    2    1    0   0     1     23
1. FC Köln             ...    0    0    0  0    1    0    0   0     0     10
1. FC Magdeburg        ...    1    1    0  0    3    1    2   0     1     21
...                    ...  ...  ...  ... ..  ...  ...  ...  ..   ...    ...
Çaykur Rizespor        ...    0    0    1  0    1    0    0   0     1     22
Örebro SK              ...    1    1    0  0    0    0    2   2     5     26
Östersunds FK          ...    1    0    0  0    1    0    1   0     1     20
Śląsk Wrocław          ...    1    0    1  0    2    1    0   0     2     24
All                    ...  418  240  138  6  766  114  237  70  1512  12897

[651 rows x 28 columns]

2.52073732718894
2.52073732718894

In [143]:
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)
#display(pivot)
#rouped_df = pivot.groupby(['GK']).mean()
pivot.Name.GK.mean()

2.5246153846153847

In [150]:
Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о 
центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде 
отдельного датафрейма и сгруппировать часть данных этого датафрейма
с помощью value_counts().

    
Применим другую агрегирующую функцию count, чтобы посчитать количество футболистов по клубам и национальностям:

pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].
pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

df2.loc[:,[('Name','GK')]].mean(),

SyntaxError: invalid syntax (<ipython-input-150-720d74cd209a>, line 1)

In [160]:
#pvt = pivot[ pivot.columns.get_level_values('Position') == 'CM']['Club']
pivot.loc[:,('Name','CM')].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: (Name, CM), dtype: int64

In [ ]:
С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage")
русские футболисты ("Russia"), играющие за ФК "AS Monaco".

In [161]:
pivot_speed = football.pivot_table(values=['Wage'],
index=['Club'],
columns=['Nationality'],
aggfunc='sum',
fill_value=0)
pivot_speed_df = pivot_speed.reset_index()

In [167]:
pivot_speed.loc["AS Monaco"]['Wage']["Russia"]

61000

In [ ]:
Создайте сводную таблицу, содержащую сведения о средней скорости футболистов (SprintSpeed),
занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают 
самой высокой скоростью.

In [221]:
pivot_ss = football.pivot_table(values='SprintSpeed',
                               index='Position',
                               columns='Club',
                               aggfunc='mean',
                            margins = True,
                               fill_value=0)
#pivot_ss.sort_values(by = ['All'])

In [ ]:
Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды 
(ST) обладают наибольшей средней скоростью.

In [231]:
pivot_ss = football.pivot_table(values='SprintSpeed',
                               index='Club',
                               columns='Position',
                               aggfunc='mean',
                            margins = True,
                               fill_value=0)
pivot_ss['ST'].sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

24