In [2]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)
data

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [4]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [5]:
data = pd.Series(list(range(10, 1001))) 

print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [8]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [14]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [21]:
faf = pd.read_csv('data_sf.csv', squeeze)
display(faf)

NameError: name 'squeeze' is not defined

In [29]:
football = pd.read_csv('data_sf.csv')
display(football.head(10))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,...,75,82,87,92,91,11,8,9,7,11
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89

In [2]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [42]:
display(football.describe(include=['object']))

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [49]:
display(football.info(null_counts=[False]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [54]:
display(football.Value.min())

0

In [ ]:
Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего?
Ответ округлите до сотых.

In [59]:
fotball=football[(football.Wage < football.Wage.mean())].SprintSpeed.mean()

In [63]:
Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [70]:
fotball = football[(football.Wage == football.Wage.max())].Position

In [ ]:
Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период

In [73]:
fotball = football[(football.Nationality == 'Brazil')].Penalties.sum()

In [ ]:
Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50.
Ответ округлите до сотых.

In [75]:
fotball = football[(football.HeadingAccuracy > 50)].Age.mean()

In [ ]:
Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions)
превышают 90% от максимального значения,
представленного в датасете.

In [84]:
fotball = football[(football.Composure > (int(football.Composure.max())* 0.9)) & 
                   (football.Reactions > (int(football.Reactions.max())* 0.9))].Age.min()

In [ ]:
Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) 
равен максимальному) больше средней реакции самых молодых игроков.
Ответ округлите до сотых.

In [90]:
fotball = float(football[(football.Age == football.Age.max())].Reactions.mean()) - float(football[(football.Age == football.Age.min())].Reactions.mean())

In [ ]:
Из какой страны (Nationality) происходит больше всего игроков, чья стоимость 
(Value) превышает среднее значение?

In [5]:
fotball = football[(football.Value > football.Value.mean())].Nationality.describe()

In [ ]:
Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) 
с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с
максимальным значением показателя "Владение мячом" (GKHandling).
Ответ округлите до сотых.

In [7]:
fb = (football[(football.GKReflexes == football.GKReflexes.max())].Wage.mean() / 
      football[(football.GKHandling == football.GKHandling.max())].Wage.mean())

In [8]:
fb

2.765957446808511

In [ ]:
Определите, во сколько раз средняя сила удара (ShotPower) 
самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) 
выше средней силы удара игроков с минимальной агрессией. 
Ответ округлите до сотых.

In [9]:
fb = (football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / 
      football[(football.Aggression == football.Aggression.min())].ShotPower.mean())

In [10]:
fb

2.076923076923077

In [22]:
s = football['Position'].value_counts(normalize = True)
a = len(s.index)
print(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [28]:
small_df = football[football.columns[0:7]].head(25)

s = football['FKAccuracy'].value_counts(bins=5)

display(s)

display(s.index)

display(s.index[3])

display(s.index[3].left)

display(s.index[3].right)

#small_df['Wage'] > s.index[3].left

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

IntervalIndex([(21.2, 39.4], (39.4, 57.6], (57.6, 75.8], (2.908, 21.2], (75.8, 94.0]],
              closed='right',
              dtype='interval[float64]')

Interval(2.908, 21.2, closed='right')

2.908

21.2

In [ ]:
У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage)
находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? 
Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [35]:
spwag = football[football.Nationality == 'Spain']
spwag = spwag['Wage'].value_counts(bins = 4, normalize = True)
display(spwag)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [ ]:
Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, 
выступающие за клуб (Club) "Manchester United".

In [36]:
clubs = football[football.Club == "Manchester United"]
clubs = clubs['Nationality'].nunique()
display(clubs)

13

In [ ]:
С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), 
выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) 
через запятую в алфавитном порядке.

In [45]:
clubs =football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')]
print(clubs)
s = clubs['Name'].unique()
display(s)

    Unnamed: 0           Name  Age Nationality      Club     Value    Wage  \
64          64    Alex Sandro   27      Brazil  Juventus  36500000  160000
65          65  Douglas Costa   27      Brazil  Juventus  46500000  175000

   Position  Crossing  Finishing  ...  Penalties  Composure  Marking  \
64       LB        84         55  ...         60         82       81
65       LM        84         67  ...         77         84       45

    StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  \
64              84             84         7           7          9
65              38             34        13          15          9

    GKPositioning  GKReflexes
64             12           5
65             12           5

[2 rows x 42 columns]

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [ ]:
Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет

In [49]:
clubs =football[(football.Age > 35)]
clubs['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Hammarby IF                   3
Morecambe                     3
Club Atlético Colón           3
                             ..
Monarcas Morelia              1
Walsall                       1
FC Erzgebirge Aue             1
Lillestrøm SK                 1
Al Nassr                      1
Name: Club, Length: 212, dtype: int64

In [ ]:
С помощью функции value_counts с параметром bins разбейте всех футболистов родом 
из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту.
Сколько футболистов в возрасте от 34,75 до 41 года в сборной Аргентины?

In [51]:
fb = football[football.Nationality == 'Argentina']
fb = fb['Age'].value_counts(bins = 4)
display(fb)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [ ]:
Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год?
Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [55]:
fb =  football[football.Nationality == 'Spain']
fb = fb['Age'].value_counts(normalize = True)
display(fb)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [6]:
fotball

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

24