In [57]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)
data

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [4]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [5]:
data = pd.Series(list(range(10, 1001))) 

print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [8]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [14]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [21]:
faf = pd.read_csv('data_sf.csv', squeeze)
display(faf)

NameError: name 'squeeze' is not defined

In [58]:
football = pd.read_csv('data_sf.csv')
display(football.head(10))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
5,5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF,81,84,...,86,91,34,27,22,11,12,6,8,8
6,6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,...,82,84,60,76,73,13,9,7,14,9
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
8,8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB,66,60,...,75,82,87,92,91,11,8,9,7,11
9,9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK,13,11,...,11,70,27,12,18,86,92,78,88,89

In [2]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [42]:
display(football.describe(include=['object']))

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [49]:
display(football.info(null_counts=[False]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [54]:
display(football.Value.min())

0

In [ ]:
Какова средняя скорость (SprintSpeed) футболистов, зарплата (Wage) которых выше среднего?
Ответ округлите до сотых.

In [59]:
fotball=football[(football.Wage < football.Wage.mean())].SprintSpeed.mean()

In [63]:
Какую позицию (Position) занимает футболист с самой высокой зарплатой (Wage)?

In [70]:
fotball = football[(football.Wage == football.Wage.max())].Position

In [ ]:
Сколько пенальти (Penalties) забили бразильские (Nationality, Brazil) футболисты за период

In [73]:
fotball = football[(football.Nationality == 'Brazil')].Penalties.sum()

In [ ]:
Укажите средний возраст (Age) игроков, у которых точность удара головой (HeadingAccuracy) > 50.
Ответ округлите до сотых.

In [75]:
fotball = football[(football.HeadingAccuracy > 50)].Age.mean()

In [ ]:
Укажите возраст (Age) самого молодого игрока, у которого хладнокровие (Composure) и реакция (Reactions)
превышают 90% от максимального значения,
представленного в датасете.

In [84]:
fotball = football[(football.Composure > (int(football.Composure.max())* 0.9)) & 
                   (football.Reactions > (int(football.Reactions.max())* 0.9))].Age.min()

In [ ]:
Определите, насколько средняя реакция (Reactions) самых взрослых игроков (т.е. игроков, чей возраст (Age) 
равен максимальному) больше средней реакции самых молодых игроков.
Ответ округлите до сотых.

In [90]:
fotball = float(football[(football.Age == football.Age.max())].Reactions.mean()) - float(football[(football.Age == football.Age.min())].Reactions.mean())

In [ ]:
Из какой страны (Nationality) происходит больше всего игроков, чья стоимость 
(Value) превышает среднее значение?

In [5]:
fotball = football[(football.Value > football.Value.mean())].Nationality.describe()

In [ ]:
Определите, во сколько раз средняя зарплата (Wage) голкипера (Position, GK) 
с максимальным значением показателя " Рефлексы" (GKReflexes) выше средней зарплаты голкипера с
максимальным значением показателя "Владение мячом" (GKHandling).
Ответ округлите до сотых.

In [7]:
fb = (football[(football.GKReflexes == football.GKReflexes.max())].Wage.mean() / 
      football[(football.GKHandling == football.GKHandling.max())].Wage.mean())

In [8]:
fb

2.765957446808511

In [ ]:
Определите, во сколько раз средняя сила удара (ShotPower) 
самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (Aggression)) 
выше средней силы удара игроков с минимальной агрессией. 
Ответ округлите до сотых.

In [9]:
fb = (football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / 
      football[(football.Aggression == football.Aggression.min())].ShotPower.mean())

In [10]:
fb

2.076923076923077

In [22]:
s = football['Position'].value_counts(normalize = True)
a = len(s.index)
print(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [28]:
small_df = football[football.columns[0:7]].head(25)

s = football['FKAccuracy'].value_counts(bins=5)

display(s)

display(s.index)

display(s.index[3])

display(s.index[3].left)

display(s.index[3].right)

#small_df['Wage'] > s.index[3].left

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

IntervalIndex([(21.2, 39.4], (39.4, 57.6], (57.6, 75.8], (2.908, 21.2], (75.8, 94.0]],
              closed='right',
              dtype='interval[float64]')

Interval(2.908, 21.2, closed='right')

2.908

21.2

In [ ]:
У какого процента испанских футболистов (Nationality = 'Spain') зарплата (Wage)
находится в пределах 25% минимума от наблюдаемого уровня зарплат среди испанских игроков? 
Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте value_counts() с параметром bins = 4.

In [35]:
spwag = football[football.Nationality == 'Spain']
spwag = spwag['Wage'].value_counts(bins = 4, normalize = True)
display(spwag)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [ ]:
Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, 
выступающие за клуб (Club) "Manchester United".

In [36]:
clubs = football[football.Club == "Manchester United"]
clubs = clubs['Nationality'].nunique()
display(clubs)

13

In [ ]:
С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), 
выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) 
через запятую в алфавитном порядке.

In [45]:
clubs =football[(football.Nationality == 'Brazil') & (football.Club == 'Juventus')]
print(clubs)
s = clubs['Name'].unique()
display(s)

    Unnamed: 0           Name  Age Nationality      Club     Value    Wage  \
64          64    Alex Sandro   27      Brazil  Juventus  36500000  160000
65          65  Douglas Costa   27      Brazil  Juventus  46500000  175000

   Position  Crossing  Finishing  ...  Penalties  Composure  Marking  \
64       LB        84         55  ...         60         82       81
65       LM        84         67  ...         77         84       45

    StandingTackle  SlidingTackle  GKDiving  GKHandling  GKKicking  \
64              84             84         7           7          9
65              38             34        13          15          9

    GKPositioning  GKReflexes
64             12           5
65             12           5

[2 rows x 42 columns]

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [ ]:
Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет

In [49]:
clubs =football[(football.Age > 35)]
clubs['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Hammarby IF                   3
Morecambe                     3
Club Atlético Colón           3
                             ..
Monarcas Morelia              1
Walsall                       1
FC Erzgebirge Aue             1
Lillestrøm SK                 1
Al Nassr                      1
Name: Club, Length: 212, dtype: int64

In [ ]:
С помощью функции value_counts с параметром bins разбейте всех футболистов родом 
из Аргентины (Nationality = 'Argentina') на 4 равные группы по возрасту.
Сколько футболистов в возрасте от 34,75 до 41 года в сборной Аргентины?

In [51]:
fb = football[football.Nationality == 'Argentina']
fb = fb['Age'].value_counts(bins = 4)
display(fb)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [ ]:
Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год?
Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [55]:
fb =  football[football.Nationality == 'Spain']
fb = fb['Age'].value_counts(normalize = True)
display(fb)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [ ]:
Отметьте позиции (Position), по которым общая сумма зарплат
(Wage) игроков превышает 5 млн евро в год.

In [59]:
df = pd.read_csv('data_sf.csv')
gr_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending= False)

In [60]:
print(gr_df.head(10))

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
Name: Wage, dtype: int64

In [ ]:
Посчитайте среднюю зарплату (Wage) и цену (Value) игроков разных позиций (Position).
Представители какой позиции имеют самую высокую среднюю ценность?

In [64]:
gr_df = df.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'],ascending= False)
print(gr_df.head(10))

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

<ipython-input-64-8ef8d1985eec>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  gr_df = df.groupby(['Position'])['Wage', 'Value'].mean().sort_values(['Value'],ascending= False)

In [ ]:
Посчитайте среднюю (mean) и медианную (median) зарплату (Wage) футболистов из разных клубов (Club). 
В скольких клубах средняя и медианная зарплаты совпадают?

Подсказка: чтобы в процессе группировки применить к данным одновременно две агрегирующие функции,
необходимо указать их как аргументы метода agg:

df.groupby(столбец_для_группировки)[столбцы_для_отображения].agg(['функция_1', 'функция_2'])

In [70]:
gr_df = df.groupby(['Club'])['Wage'].agg(['mean','median'])
gr_df = gr_df.loc[gr_df['mean'] == gr_df['median']]
print(gr_df.count())
#print(gr_df.sort_values(['mean'], ascending = False))

mean      52
median    52
dtype: int64

In [ ]:
С помощью функции groupby посчитайте сумму зарплат (Wage) футболистов клуба (Club) "Chelsea".

In [72]:
gr_df = df.groupby(['Club'])['Wage'].sum()
print(gr_df['Chelsea'])

2035000

In [ ]:
Определите максимальную зарплату футболиста 
национальности (Nationality) Аргентина ("Argentina") в возрасте 20 лет.

In [84]:
#gr_df = df.groupby(['Nationality'])['Age', 'Wage']

gr = df.loc[(df.Nationality == "Argentina") & (df.Age == 30)].sort_values('Wage', ascending = True)
print(gr)

      Unnamed: 0             Name  Age Nationality  \
6893        7072         L. Trejo   30   Argentina
3366        3501          J. Miño   30   Argentina
4496        4647  F. Ciampichetti   30   Argentina
2258        2370       R. Becerra   30   Argentina
5534        5697         J. Ayala   30   Argentina
4103        4250         G. Milan   30   Argentina
5927        6094          S. Luna   30   Argentina
4116        4264       M. Sánchez   30   Argentina
3227        3360       J. Amoroso   30   Argentina
2660        2781           A. Niz   30   Argentina
2609        2727          G. Díaz   30   Argentina
1879        1970        M. Cahais   30   Argentina
2113        2216        F. Mattia   30   Argentina
1501        1557      C. Menéndez   30   Argentina
1337        1376        J. Forlín   30   Argentina
1468        1521          G. Sara   30   Argentina
833          844      D. González   30   Argentina
218          218        N. Gaitán   30   Argentina
522          526        L. Pratto   30   Argentina
133          133        E. Banega   30   Argentina
1286        1321         C. Yacob   30   Argentina
140          140         A. Gómez   30   Argentina
89            89      N. Otamendi   30   Argentina
38            38       G. Higuaín   30   Argentina
23            23        S. Agüero   30   Argentina

                             Club     Value    Wage Position  Crossing  \
6893               Atlético Huila    270000    1000       CB        28
3366             Deportes Iquique    575000    1000      LDM        55
4496               CD Antofagasta    625000    2000       ST        35
2258             Deportes Iquique    875000    2000       ST        44
5534              Rosario Central    350000    3000       GK        11
4103  Tiburones Rojos de Veracruz    475000    3000       CB        26
5927          Belgrano de Córdoba    325000    3000       RB        75
4116       San Martín de San Juan    475000    4000      CDM        49
3227            Newell's Old Boys    725000    6000       RM        55
2660          Club Atlético Tigre    675000    6000       CB        58
2609              Vélez Sarsfield    650000    6000       RB        72
1879        San Martin de Tucumán    775000    6000       CB        48
2113       San Martín de San Juan    775000    7000      RCB        30
1501  Tiburones Rojos de Veracruz   3000000    8000       ST        50
1337                  Real Oviedo   3000000    9000       CB        59
1468          Club Atlético Lanús   2000000   10000       GK        14
833                  Club Tijuana   7000000   22000      LCM        68
218              Dalian YiFang FC  21000000   22000      CAM        80
522                   River Plate  10000000   28000       LS        68
133                    Sevilla FC  29000000   31000      CDM        80
1286            Nottingham Forest   3000000   35000      CDM        34
140                      Atalanta  30000000   53000       LS        82
89                Manchester City  28500000  170000       CB        52
38                          Milan  57000000  245000       LS        68
23                Manchester City  64500000  300000       ST        70

      Finishing  ...  Penalties  Composure  Marking  StandingTackle  \
6893         21  ...         31         48       64              65
3366         47  ...         54         65       70              72
4496         71  ...         71         54       42              26
2258         74  ...         66         54       21              30
5534         11  ...         19         44       15               7
4103         23  ...         40         55       60              66
5927         56  ...         53         47       62              55
4116         47  ...         50         65       62              63
3227         60  ...         44         65       33              30
2660         39  ...         41         62       62              71
2609         44  ...         50         56       64              62
1879         34  ...         55         64       61              72
2113         24  ...         38         49       73              72
1501         72  ...         72         74       32              21
1337         36  ...         51         66       72              71
1468         15  ...         30         36       15              12
833          64  ...         57         76       65              71
218          71  ...         71         80       35              42
522          76  ...         78         71       48              36
133          66  ...         78         80       75              69
1286         55  ...         66         79       73              75
140          76  ...         72         84       50              30
89           54  ...         45         80       83              85
38           92  ...         70         86       35              22
23           93  ...         83         90       30              20

      SlidingTackle  GKDiving  GKHandling  GKKicking  GKPositioning  \
6893             67        13           9         11              8
3366             67        15          16          9             14
4496             22         6          10          8              9
2258             22        15          11         15             11
5534              8        67          66         65             58
4103             62        15          12         15             14
5927             56        15          15         13             11
4116             64        10          10          6             16
3227             35        13           8         16             11
2660             68         7          11         14             14
2609             59         7           8          8              7
1879             70         9          12         12              6
2113             70        14           8          9             12
1501             30        14          12          9             13
1337             76        10           6          7             13
1468             16        72          70         73             69
833              69        16          13          7             12
218              43         8          11          9              7
522              50         8          15          6             15
133              64        13           8          7              7
1286             71         6           6         12              9
140              34         8          11         12              9
89               84        12           5          8             11
38               18         5          12          7              5
23               12        13          15          6             11

      GKReflexes
6893           8
3366          10
4496           7
2258           7
5534          68
4103           7
5927           8
4116          16
3227          14
2660          13
2609           8
1879          16
2113          14
1501           7
1337           8
1468          74
833           14
218            5
522           15
133           10
1286           8
140            6
89            12
38            10
23            14

[25 rows x 42 columns]

In [ ]:
Определите максимальную силу (Strength) и баланс (Balance) среди игроков клуба (Club) "FC Barcelona" 
из Аргентины ("Argentina").
Ответ введите через точку с запятой без пробела.

In [89]:
gr_df = df.loc[(df.Club == "FC Barcelona") &( df.Nationality == "Argentina")].sort_values('Balance', ascending = True)
print(gr_df.Balance.max())

95

In [ ]:
Создайте сводную таблицу, содержащую сведения о количестве игроков, 
занимающих разные позиции в каждом клубе. Отсутствующие значения замените нулями.

Каково среднее количество вратарей (GK) в клубе? Ответ округлите до трёх цифр после запятой.

In [118]:
pivot = df.pivot_table( values = ['Name'],
                      index = ['Club'],
                      columns= ['Position'],
                      aggfunc = 'count',
                      margins = True,
                      fill_value = 0)
display(pivot)
g = pivot.loc['All']['Name']['GK']
print(g/ len(pivot))
print(1641 / 651)

                      Name                                                 \
Position               CAM    CB  CDM  CF    CM    GK LAM    LB  LCB  LCM
Club
 SSV Jahn Regensburg     0     5    1   0     2     3   0     2    0    0
1. FC Heidenheim 1846    1     3    0   0     1     2   0     2    1    0
1. FC Kaiserslautern     0     3    3   0     0     3   0     2    1    0
1. FC Köln               0     1    1   0     2     3   0     0    0    0
1. FC Magdeburg          0     4    0   1     0     3   0     1    1    1
...                    ...   ...  ...  ..   ...   ...  ..   ...  ...  ...
Çaykur Rizespor          1     2    5   0     0     3   0     2    1    0
Örebro SK                0     4    0   0     1     3   0     0    1    1
Östersunds FK            1     1    0   1     3     3   0     2    1    1
Śląsk Wrocław            0     1    3   0     1     3   0     2    1    0
All                    633  1403  691  51  1067  1641   6  1002  409  233

                       ...
Position               ...  RCB  RCM  RDM RF   RM   RS   RW RWB    ST    All
Club                   ...
 SSV Jahn Regensburg   ...    1    0    1  0    0    0    0   0     3     24
1. FC Heidenheim 1846  ...    1    0    0  0    3    0    0   0     2     20
1. FC Kaiserslautern   ...    0    0    1  0    2    1    0   0     1     23
1. FC Köln             ...    0    0    0  0    1    0    0   0     0     10
1. FC Magdeburg        ...    1    1    0  0    3    1    2   0     1     21
...                    ...  ...  ...  ... ..  ...  ...  ...  ..   ...    ...
Çaykur Rizespor        ...    0    0    1  0    1    0    0   0     1     22
Örebro SK              ...    1    1    0  0    0    0    2   2     5     26
Östersunds FK          ...    1    0    0  0    1    0    1   0     1     20
Śląsk Wrocław          ...    1    0    1  0    2    1    0   0     2     24
All                    ...  418  240  138  6  766  114  237  70  1512  12897

[651 rows x 28 columns]

2.52073732718894
2.52073732718894

In [143]:
df = pd.read_csv('data_sf.csv')
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)
#display(pivot)
#rouped_df = pivot.groupby(['GK']).mean()
pivot.Name.GK.mean()

2.5246153846153847

In [150]:
Используя таблицу, созданную на предыдущем шаге, определите, сколько клубов не содержат данных о 
центральных полузащитниках. (CM)

Подсказка: для выполнения этого задания желательно сохранить сводную таблицу в виде 
отдельного датафрейма и сгруппировать часть данных этого датафрейма
с помощью value_counts().

    
Применим другую агрегирующую функцию count, чтобы посчитать количество футболистов по клубам и национальностям:

pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].
pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

df2.loc[:,[('Name','GK')]].mean(),

SyntaxError: invalid syntax (<ipython-input-150-720d74cd209a>, line 1)

In [160]:
#pvt = pivot[ pivot.columns.get_level_values('Position') == 'CM']['Club']
pivot.loc[:,('Name','CM')].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: (Name, CM), dtype: int64

In [ ]:
С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage")
русские футболисты ("Russia"), играющие за ФК "AS Monaco".

In [161]:
pivot_speed = football.pivot_table(values=['Wage'],
index=['Club'],
columns=['Nationality'],
aggfunc='sum',
fill_value=0)
pivot_speed_df = pivot_speed.reset_index()

In [167]:
pivot_speed.loc["AS Monaco"]['Wage']["Russia"]

61000

In [ ]:
Создайте сводную таблицу, содержащую сведения о средней скорости футболистов (SprintSpeed),
занимающих разные позиции (Position) в разных футбольных клубах (Club).

Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают 
самой высокой скоростью.

In [221]:
pivot_ss = football.pivot_table(values='SprintSpeed',
                               index='Position',
                               columns='Club',
                               aggfunc='mean',
                            margins = True,
                               fill_value=0)
#pivot_ss.sort_values(by = ['All'])

In [ ]:
Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды 
(ST) обладают наибольшей средней скоростью.

In [231]:
pivot_ss = football.pivot_table(values='SprintSpeed',
                               index='Club',
                               columns='Position',
                               aggfunc='mean',
                            margins = True,
                               fill_value=0)
pivot_ss['ST'].sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [232]:
import pandas as pd

In [238]:
rating = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [242]:
rating.info()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [241]:
rating.rating.describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

In [243]:
joined = rating.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [92]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [93]:
movies = pd.read_csv('movies_example.txt', sep = '\t')
movies.head()

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller
2       31                    Dangerous Minds (1995)                     Drama

In [94]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

In [95]:
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

In [96]:
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [7]:
Объедините получившиеся датафреймы по столбцу item_id с типом outer.

Определите, модель с каким item_id есть в статистике продаж purchase_df, но не учтена на складе
(подсказка: подумайте, какой датафрейм должен быть "левым", а какой "правым", чтобы получить необходимые данные).
Введите ответ в виде целого числа.

SyntaxError: invalid syntax (<ipython-input-7-464d92fc59f5>, line 1)

In [97]:
joined = items_df.merge(purchase_df, on='item_id', how='inner')
print(joined)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

In [ ]:
Посчитайте объем выручки для каждой модели, которую можно получить, распродав все остатки на складе.
Модель с каким item_id имеет максимальное значение выручки после распродажи остатков? Ответ дайте 
в виде целого числа.
Примечание: перемножение столбцов датафрейма можно производить разными способами, но самый простой -
перемножение "в лоб" вида df['col1'] = df['col2'] * df['col3']. Для присоединения новых данных к 
датафрейму тоже можно использовать различные методы, включая функцию .append(), которая позволяет 
присоединять к датафрейму другой датафрейм, серии или словари.

In [98]:
joined['proceeds'] = joined['price'] * joined['stock_count']

In [99]:
j = 0
for i in range(len(joined)):
    j += joined['proceeds'][i]
print(j)

19729490

In [100]:
import os

In [101]:
files = os.listdir('data')
files

['ratings_8.txt',
 'ratings_9.txt',
 'ratings_10.txt',
 'ratings_7.txt',
 'ratings_6.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_1.txt',
 'ratings_2.txt',
 'ratings_3.txt']

In [25]:
После чтения папки список файлов оказался следующим:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
Создайте на основе списка files новый список data, в который поместите только файлы, содержащие в названии "txt".

SyntaxError: invalid syntax (<ipython-input-25-659b8520f59e>, line 1)

In [102]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data = []
for i in range(len(files)):
    if 'txt' in files[i]:
        data.append(files[i])
print(data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [103]:
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)

data [] ['ratings_8.txt', 'ratings_9.txt', 'ratings_10.txt', 'ratings_7.txt', 'ratings_6.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_1.txt', 'ratings_2.txt', 'ratings_3.txt']

In [104]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

In [105]:
for i in range(len(files)):
    temp = pd.read_csv( os.path.join('data', files[i]), names = ['userId', 'movieId', 'rating', 'timestamp'] )
    data = pd.concat([data, temp])

In [30]:
data

     userId movieId  rating   timestamp
0       483    1573     2.0  1465387568
1       483    1580     3.0  1465387435
2       483    1676     4.0  1465387586
3       483    1682     3.0  1465387384
4       483    1732     5.0  1465387406
...     ...     ...     ...         ...
9995    213   72701     2.5  1462644086
9996    213   72737     3.0  1462636677
9997    213   72919     2.5  1462637308
9998    213   72998     5.0  1462636393
9999    213   73015     2.0  1462636831

[100004 rows x 4 columns]

In [ ]:
Загрузим "log.csv" в dataframe log с помощью read_csv. Не передавайте никаких дополнительных параметров!
В результате переменная log должна содержать загруженный из файла датафрейм. Напишите код загрузки:

In [106]:
import pandas as pd
log = pd.read_csv('log.csv', header = None)
log
log.columns = ['user_id','time','bet','win']

In [107]:
import pandas as pd
sample = pd.read_csv('sample.csv')
columns = sample.columns
sample.columns = sample.columns.str.lower()
columns = sample.columns

In [108]:

from chardet.universaldetector import UniversalDetector
  
detector = UniversalDetector()
with open('users.csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)

{'encoding': 'KOI8-R', 'confidence': 0.8386336043754476, 'language': 'Russian'}

In [109]:
users = pd.read_csv('users.csv', encoding='KOI8-R', sep='\t')
users.columns=['user_id','email','geo']
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

In [110]:
sample.info()
sample.name.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        10 non-null     object
 1   city        10 non-null     object
 2   age         11 non-null     int64
 3   profession  11 non-null     object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

array(['Иванов', nan, 'sidorov', '_______', 'Кузнецов', 'Сажин',
       'Котлеревский', 'Завалишина', 'Левина', 'Фикс'], dtype=object)

In [ ]:
Поработаем с log.csv. В колонке user_id есть записи, которые содержат технические ошибки.
Укажите, что записано в поле user_id в строчках с ошибкой:

In [111]:
log.info()
log.user_id.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  1000 non-null   object
 1   time     985 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

array(['Запись пользователя № - user_919',
       'Запись пользователя № - user_973',
       'Запись пользователя № - user_903',
       'Запись пользователя № - user_954',
       'Запись пользователя № - user_917',
       'Запись пользователя № - user_900',
       'Запись пользователя № - user_980',
       'Запись пользователя № - user_906',
       'Запись пользователя № - user_952',
       'Запись пользователя № - user_972',
       'Запись пользователя № - user_966',
       'Запись пользователя № - user_964',
       'Запись пользователя № - user_978',
       'Запись пользователя № - user_968',
       'Запись пользователя № - user_974',
       'Запись пользователя № - user_998',
       'Запись пользователя № - user_990',
       'Запись пользователя № - user_942',
       'Запись пользователя № - user_929',
       'Запись пользователя № - user_976',
       'Запись пользователя № - user_927',
       'Запись пользователя № - user_951',
       'Запись пользователя № - user_949',
       'Запись пользователя № - user_987',
       'Запись пользователя № - user_985',
       'Запись пользователя № - user_992',
       'Запись пользователя № - user_937',
       'Запись пользователя № - user_913',
       'Запись пользователя № - user_948',
       'Запись пользователя № - user_916',
       'Запись пользователя № - user_938',
       'Запись пользователя № - user_997',
       'Запись пользователя № - user_940',
       'Запись пользователя № - user_918',
       'Запись пользователя № - user_960',
       'Запись пользователя № - user_905',
       'Запись пользователя № - user_924',
       'Запись пользователя № - user_958',
       'Запись пользователя № - user_920',
       'Запись пользователя № - user_943',
       'Запись пользователя № - user_935',
       'Запись пользователя № - user_915',
       'Запись пользователя № - user_921',
       'Запись пользователя № - user_999',
       'Запись пользователя № - user_982',
       'Запись пользователя № - user_928',
       'Запись пользователя № - user_944',
       'Запись пользователя № - user_912',
       'Запись пользователя № - user_969',
       'Запись пользователя № - user_901',
       'Запись пользователя № - user_995',
       'Запись пользователя № - user_933',
       'Запись пользователя № - user_986',
       'Запись пользователя № - user_971',
       'Запись пользователя № - user_977',
       'Запись пользователя № - user_979',
       'Запись пользователя № - user_910',
       'Запись пользователя № - user_994',
       'Запись пользователя № - user_907',
       'Запись пользователя № - user_941',
       'Запись пользователя № - user_989',
       'Запись пользователя № - user_955',
       'Запись пользователя № - user_991',
       'Запись пользователя № - user_996',
       'Запись пользователя № - user_926',
       'Запись пользователя № - user_984',
       'Запись пользователя № - user_957',
       'Запись пользователя № - user_914',
       'Запись пользователя № - user_988',
       'Запись пользователя № - user_923',
       'Запись пользователя № - user_967',
       'Запись пользователя № - user_945',
       'Запись пользователя № - user_993',
       'Запись пользователя № - user_908',
       'Запись пользователя № - user_930',
       'Запись пользователя № - user_981',
       'Запись пользователя № - user_936',
       'Запись пользователя № - user_922',
       'Запись пользователя № - user_962',
       'Запись пользователя № - user_965',
       'Запись пользователя № - user_959',
       'Запись пользователя № - user_963',
       'Запись пользователя № - user_904',
       'Запись пользователя № - user_931',
       'Запись пользователя № - user_1000',
       'Запись пользователя № - user_946',
       'Запись пользователя № - user_970',
       'Запись пользователя № - user_939',
       'Запись пользователя № - user_961',
       'Запись пользователя № - user_911',
       'Запись пользователя № - user_950',
       'Запись пользователя № - user_956',
       'Запись пользователя № - user_909',
       'Запись пользователя № - user_983',
       'Запись пользователя № - user_902',
       'Запись пользователя № - user_947',
       'Запись пользователя № - user_975',
       'Запись пользователя № - user_953',
       'Запись пользователя № - user_925',
       'Запись пользователя № - user_934',
       'Запись пользователя № - user_932', '#error'], dtype=object)

In [ ]:
Создайте новый датафрейм sample2, в который будут входить только записи о людях в возрасте меньше 30 лет.

In [112]:
sample = pd.read_csv("sample.csv")
sample2 = sample[sample.Age < 30]

In [ ]:
Создайте новый датафрейм log_win, в который будут входить только записи, где пользователь выиграл.
Посчитайте, сколько таких записей, и сохраните в переменной win_count.

In [113]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log_win = log[log.win > 0]
win_count = len(log_win)

In [ ]:
Создайте новый датафрейм sample2, в который будут входить только записи о рабочих младше 30 лет.

In [114]:
sample = pd.read_csv("sample.csv")
sample2 = sample[(sample.Age <30) & (sample.Profession == 'Рабочий')]

In [ ]:
С помощью функции query найдите тех, у кого ставка меньше 2000, а выигрыш больше 0.
Сохраните в новый датафрейм log2.

In [115]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
log2 = log.query('bet<2000 & win>0')

In [ ]:
Найдите записи, где в городах есть буква «о», и сохраните в переменную sample3.
Функция contains не может работать с пустыми значениями: необходимо использовать параметр na = False

In [119]:
sample = pd.read_csv("sample.csv")
sample3= sample[sample.City.str.contains('о', na = False)]

In [ ]:
Найдите записи, где в городах нет буквы "о", и сохраните в переменную sample4.
Не забудьте про NaN и параметр na:

In [122]:
sample = pd.read_csv("sample.csv")
sample4= sample[~sample.City.str.contains('о', na = True)]

In [ ]:
Сохраните в переменную new_log датафрейм, из которого удалены записи, в которых есть ошибка в поле user_id

In [124]:
log = pd.read_csv("log.csv",header=None)
log.columns = ['user_id','time', 'bet','win']
new_log=log[~log.user_id.str.contains('error', na = True)]
new_log

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[985 rows x 4 columns]

In [ ]:
С помощью apply и лямбда-функции увеличьте возраст во всех записях на 1 год и сохраните в sample2.
В переменной sample2 должен содержаться весь датафрейм sample.

In [133]:
sample = pd.read_csv("sample.csv")
sample2=sample
sample2.Age = sample2.Age.apply(lambda x : x+1)
sample2

            Name         City  Age Profession
0         Иванов       Москва   26     Клинер
1            NaN    Волгоград   32   Менеджер
2         Иванов       Москва   26     Клинер
3        sidorov  Владивосток   44   Менеджер
4        _______        Курск   51   Водитель
5       Кузнецов         Сочи   20    Рабочий
6          Сажин       Сургут   30    Рабочий
7   Котлеревский   Йошкар-Ола   33    Рабочий
8     Завалишина    Чебоксары   37   Менеджер
9         Левина          NaN   56    Рабочий
10          Фикс         Рига   43    Рабочий

In [ ]:
С помощью apply и lambda-функции замените все буквы в поле City на маленькие и сохраните в sample2.
Вам может понадобиться функция s.lower().
Обратите внимание: когда в столбце есть пропущенные значения, необходимо в явном виде указывать, что это str.

In [142]:
sample = pd.read_csv("sample.csv")
sample2=sample
sample2.City = sample2.City.apply(lambda s: str(s).lower())

In [ ]:
Напишите функцию profession_code, которая на вход получает строку, а на выход возвращает:
0 — если на вход поступила строка "Рабочий"
1 — если на вход поступила строка "Менеджер"
2 — в любом другом случае

In [ ]:
def profession_code(s):
    if s == "Рабочий" :
        return 0
    elif s == "Менеджер":
        return 1
    else :
        return 2

In [ ]:
Примените функцию profession_code для того, чтобы заменить поле Profession с помощью apply. 
Сохраните получившийся датафрейм в переменную sample2.
Функцию необходимо определить повторно!

In [143]:
sample = pd.read_csv("sample.csv")
def profession_code(s):
    if s == "Рабочий" :
        return 0
    elif s == "Менеджер":
        return 1
    else :
        return 2
sample2 = sample
sample2.Profession = sample2.Profession.apply(profession_code)

In [ ]:
Напишите функцию age_category, которая на вход получает число, а на выход отдаёт:
"молодой" — если возраст меньше 23
"средний" — если возраст от 23 до 35
"зрелый" — если возраст больше 35

In [ ]:
def age_category(age):
    if age < 23 :
        return "молодой"
    elif age <= 35 :
        return "средний"
    else :
        return "зрелый"

In [ ]:
Примените функцию age_category и apply, чтобы создать новую колонку в sample под названием 'Age_category'. 
Не забудьте загрузить датафрейм.
Вспомним, как создать новую колонку:
    df['new_column'] = df.old_column.apply(func)

In [146]:
sample = pd.read_csv('sample.csv')
def age_category(age):
    if age < 23 :
        return "молодой"
    elif age <= 35 :
        return "средний"
    else :
        return "зрелый"

sample['Age_category']= sample.Age.apply(age_category)

In [ ]:
Преобразуем поле user_id в датафрейме log, оставив только идентификатор пользователя.
Например, вместо "Запись пользователя № — user_974" должно остаться только "user_974".
На месте записей с ошибками в user_id должна быть пустая строка "". 
Сделайте это через apply и новую функцию, которую вы создадите. Результат сохраните в log:

In [164]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
def rename(name):
    find=name.find('user')
    if find<0 :
        return ''
    else:
        return name[(name.find('user')):]
log.user_id = log.user_id.apply(rename)
log.head(1)

    user_id                  time  bet  win
0  user_919  [2019-01-01 14:06:51  NaN  NaN

In [ ]:
Загрузите log.csv в log. Удалите квадратную скобку из первой строки в столбце time, чтобы привести его 
к более привычному формату: t равен log.time[0]. Сохраните результат в t:

In [169]:
log = pd.read_csv('log.csv', header=None)
log.columns = ['user_id','time','bet','win']
def time_corr(time):
    if str(time).find(':') > -1 :
        return time[1:]
    else:
        return time
log.time=log.time.apply(time_corr)

In [ ]:
Соединим всё, что мы делали, и очистим файл log.csv. А именно:
прочитаем файл в переменную log;
добавим названия колонок user_id, time, bet, win;
удалим строки, которые содержат значения user_id с ошибками;
оставим в user_id только значения идентификатора;
уберём начальную скобку из поля time.

In [173]:
log = pd.read_csv('log.csv', header = None)
log.columns =['user_id','time','bet','win']
log=log[log.user_id.str.contains('user', na= False)]
def rename(name):
    find=name.find('user')
    if find<0 :
        return ''
    else:
        return name[(name.find('user')):]
log.user_id = log.user_id.apply(rename)
def time_corr(time):
    if str(time).find(':') > -1 :
        return time[1:]
    else:
        return time
log.time=log.time.apply(time_corr)